body {
  background-color: #fff;
  margin: 0;
  padding: 0;
  font-family: cursive;
}

body,
html{
  height: 100%;
  background-color: darkgreen;
  overflow: hidden;
}
.container {
  height: 80%;
  margin: 0 10% 0 10%;
  top: 50px;
}
h1{
  text-align: center;
  color: darkgoldenrod;
  font-size: 3em;
}

.block {
  position: relative;
  background-position: center center;
  background-size: cover;
  width: 50%;
  height: 50%;
  outline: solid 3px darkgoldenrod;
  display: none;
  float: left;
  opacity: 0;
  visibility: hidden;
  background-color: rgba(92, 91, 87, 0.9);
  -webkit-transition: opacity 400ms, visibility 400ms;
          transition: opacity 400ms, visibility 400ms; }

  .block.selected {
    display: block;
    visibility: visible;
    opacity: 1;
    animation: fade 1s; }

@keyframes fade {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
.nav {
  height: 80px;
  position: absolute;
  width: 80px;
  background-color: darkgoldenrod;
  color: #fff;
  text-decoration: none;
  top: 57%;
  margin-top: -40px;
  line-height: 80px;
  text-align: center;
  border-radius: 50%;
  opacity: .5; }

.nav.next { right: 2%; }
.nav.previous { left: 2%; }
.nav.disabled {
  opacity: .2;
  pointer-events: none;
  cursor: default; }
.title {
  position: absolute;
  left: 0px;
  width: -webkit-fill-available;
  font-weight: bold;
  height: 10%;
  padding: 10px 15px;
  text-transform: uppercase;
  font-size: 1.5em;
  text-align: center;
  vertical-align: middle;
  background-color: rgba(255, 255, 255, 0.67);
}


